@mixin tab($primary, $accent) {
  .vertical-tab {
    box-sizing: border-box;
    color: mat-contrast($primary, 50);
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 1rem;
    min-width: 3.125rem;
    padding: 0.53125rem 0.8125rem;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &.vertical-tab:not(.vertical-tab-active):hover {
      box-shadow: inset 0 -1px 0 rgba(mat-contrast($primary, 50), 0.12);
      background-color: rgba(mat-contrast($primary, 50), 0.04);
    }

    .mat-ripple {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .mat-ripple-element {
      background-color: rgba(mat-color($primary, 900), 0.1);
    }

    &-active {
      /* Using box-shadow instead of border-bottom to inset the indicator */
      box-shadow: inset 0 -2px 0 mat-color($primary, 900);
      color: mat-color($primary, 900);
      font-weight: 500;
    }

    &-active:hover {
      background-color: rgba(mat-color($primary, 700), 0.04);
    }
  }
}
