@mixin vertical-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  /* Button base */
  .vertical-button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1rem;
    min-width: 4.6875rem;
    outline: none;
    padding: 0.375rem 0.5rem;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:disabled {
      cursor: default;
    }

    .mat-ripple {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  /* Button contained */
  .vertical-contained-button {
    background-color: mat-color($primary, 900);
    color: mat-contrast($primary, 900);

    &:disabled {
      background-color: mix(black, rgba(mat-color($primary, 900), 0.2), 12%);
      color: mix(black, mat-contrast($primary, 900), 12%);
    }

    &:not([disabled]):hover {
      background-color: mix(white, mat-color($primary, 900), 8%);
    }

    .mat-ripple-element {
      background-color: rgba(mat-contrast($primary, 900), 0.2);
    }
  }

  /* Button outlined */
  .vertical-outlined-button {
    background-color: mat-contrast($primary, 900);
    /* Using 'box-shadow' instead of 'border' to inset the border */
    box-shadow: inset 0px 0px 0px 1px mat-color($primary, 900);
    color: mat-color($primary, 900);

    &:disabled {
      box-shadow: inset 0px 0px 0px 1px rgba(mat-color($primary, 900), 0.2);
      color: rgba(mat-color($primary, 900), 0.38);
    }

    &:not([disabled]):hover {
      background-color: rgba(mat-color($primary, 700), 0.04);
      box-shadow: inset 0px 0px 0px 1px rgba(mat-color($primary, 900), 0.2);
    }

    .mat-ripple-element {
      background-color: rgba(mat-color($primary, 700), 0.12);
    }
  }

  /* Button text */
  .vertical-text-button {
    background-color: transparent;
    color: mat-color($primary, 900);

    &:disabled {
      background-color: rgba(mat-color($primary, 900), 0.12);
      color: rgba(mat-contrast($primary, 50), 0.38);
    }

    &:not([disabled]):hover {
      background-color: rgba(mat-color($primary, 700), 0.04);
    }

    .mat-ripple-element {
      background-color: rgba(mat-color($primary, 700), 0.12);
    }
  }
}
