:host.vertical-sidenav {
  //bottom: 0;
  box-sizing: border-box;
  display: block;
  height: 100%;
  //left: 0;
  max-width: 14.75rem;
  overflow-y: auto;
  //position: fixed;
  position: relative;
  //top: 0;
  user-select: none;
  z-index: 0;
}
