@mixin contained-button($primary) {
  .vertical-contained-button {
    background-color: mat-color($primary, 900);
    color: mat-contrast($primary, 900);
  }

  .vertical-contained-button:disabled {
    background-color: mix(mat-contrast($primary, 50), rgba(mat-color($primary, 900), 0.2), 0.12);
    color: rgba(mat-contrast($primary, 900), 0.66);

    .mat-ripple-element {
      background-color: rgba(mat-color($primary, 900), 0);
    }
  }

  .vertical-contained-button:not([disabled]):hover {
    background-color: mix(mat-color($primary, 900), mat-contrast($primary, 900), 92%);
    color: mat-contrast($primary, 900);
  }

  .vertical-contained-button:not([disabled]):active {
    background-color: mix(mat-color($primary, 900), mat-contrast($primary, 900), 76%);
    color: mat-contrast($primary, 900);
  }

  .vertical-contained-button:not([disabled]) .mat-ripple-element {
    background-color: rgba(mat-contrast($primary, 900), 0.2);
  }
}
