@mixin outlined-button($primary) {
  .vertical-outlined-button {
    background-color: rgba(mat-contrast($primary, 900), 0);
    border-color: mat-color($primary, 900);
    color: mat-color($primary, 900);
  }

  .vertical-outlined-button:disabled {
    background-color: rgba(mat-contrast($primary, 900), 0);
    border-color: rgba(mat-color($primary, 900), 0.38);
    color: rgba(mat-color($primary, 900), 0.38);

    .mat-ripple-element {
      background-color: rgba(mat-color($primary, 900), 0);
    }
  }

  .vertical-outlined-button:not([disabled]):hover {
    color: mat-color($primary, 900);
    background-color: rgba(mat-color($primary, 700), 0.04);
    border-color: rgba(mat-color($primary, 900), 0.2);
  }

  .vertical-outlined-button:not([disabled]):active {
    color: mat-color($primary, 900);
    background-color: rgba(mat-color($primary, 700), 0.12);
    border-color: rgba(mat-color($primary, 900), 0.2);
  }

  .vertical-outlined-button:not([disabled]) .mat-ripple-element {
    background-color: rgba(mat-color($primary, 700), 0.12);
  }
}
