<!-- <ng-content select="[vertical-caption]"></ng-content>

<thead>
  <tr>
    <ng-container *ngFor="let headerCell in header">
      <ng-content select="vertical-header-cell"></ng-content>
    </ng-container>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let dataRow in data">
    <td *ngFor="let data in data"></td>
  </tr>
</tbody>

<tfoot>
  <tr>
    <ng-container *ngFor="let footerCell in footer">
      <ng-content select="vertical-header-cell"></ng-content>
    </ng-container>
  </tr>
</tfoot> -->