<!-- <ng-content select="[vertical-caption]"></ng-content>

<thead>
  <tr>
    <ng-container *ngFor="let headerCell in header">
      <ng-content select="vertical-header-cell"></ng-content>
    </ng-container>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let dataRow in data">
    <td *ngFor="let data in data"></td>
  </tr>
</tbody>

<tfoot>
  <tr>
    <ng-container *ngFor="let footerCell in footer">
      <ng-content select="vertical-header-cell"></ng-content>
    </ng-container>
  </tr>
</tfoot> -->

<thead class="vertical-table-header">
  <tr class="vertical-table-header__row">
    <th class="vertical-table-header__cell">
      <mat-icon class="checkbox">indeterminate_check_box</mat-icon>
    </th>
    <th class="vertical-table-header__cell">Vorname</th>
    <th class="vertical-table-header__cell">Nachname</th>
    <th class="vertical-table-header__cell">Standort</th>
    <th class="vertical-table-header__cell">Aktuelle Kosten</th>
    <th class="vertical-table-header__cell">
      Status
      <mat-icon class="sort-icon">arrow_downward</mat-icon>
    </th>
  </tr>
</thead>
<tbody class="vertical-table-body">
  <tr class="vertical-table-body__row">
    <td class="vertical-table-body__cell">
      <mat-icon class="checkbox">check_box</mat-icon>
    </td>
    <td class="vertical-table-body__cell">Max</td>
    <td class="vertical-table-body__cell">Mustermann</td>
    <td class="vertical-table-body__cell">Dresden</td>
    <td class="vertical-table-body__cell">65,00€</td>
    <td class="vertical-table-body__cell">
      <mat-icon class="check-circle green">check_circle</mat-icon>
      Aktiv
    </td>
  </tr>

  <tr class="vertical-table-body__row">
    <td class="vertical-table-body__cell">
      <mat-icon class="checkbox">check_box</mat-icon>
    </td>
    <td class="vertical-table-body__cell">John</td>
    <td class="vertical-table-body__cell">Doe</td>
    <td class="vertical-table-body__cell">Dresden</td>
    <td class="vertical-table-body__cell">48,90€</td>
    <td class="vertical-table-body__cell">
      <mat-icon class="check-circle red">check_circle</mat-icon>
      Offline
    </td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td></td>
  </tr>
</tfoot>