@mixin vertical-input-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-input {
    background-color: transparent;
    color: rgba(mat-contrast($primary, 50), 0.87);

    &::placeholder {
      color: rgba(mat-contrast($primary, 50), 0.54);
    }
  }
}

.vertical-input {
  border: none;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.25rem;
  margin-bottom: 0;
  outline: none;
  padding: 0;
  user-select: none;
  width: 100%;
}
