:host.vertical-chip {
  border-radius: 1rem;
  cursor: default;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  justify-self: center;
  line-height: 1rem;
  margin: 0.25rem;
  padding: 0.4375rem 0.75rem;
}
