@use '~@angular/material' as mat;
@mixin vertical-checkbox-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-checkbox__icon {
    color: mat.get-color-from-palette($primary, 900);

    .vertical-checkbox.disabled & {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
  }

  .vertical-checkbox__label {
    color: mat.get-contrast-color-from-palette($primary, 50);

    .vertical-checkbox.disabled & {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
  }
}
