@import "../../vertical-components/src/_core/theming/prebuilt-themes/vertical-light-theme.scss";
//@import "../../../dist/vertical-components/prebuilt-themes/vertical-light-theme.css";
//@import "./custom-theme.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  background: #fafafa;
}

* {
  font-family: Roboto, sans-serif;
}
