@use '~@angular/material' as mat;
@mixin vertical-form-field-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-form-field-label {
    color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.6);

    .disabled & {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }

    .error:not(.disabled) & {
      color: #b00020;
    }
  }

  .vertical-form-field-input {
    background-color: mat.get-contrast-color-from-palette($primary, 900);
  }

  .vertical-form-field-prefix {
    color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.54);
    .disabled & {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
  }

  .vertical-form-field-infix {
    .disabled & > input {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
    .disabled & > input::placeholder {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
  }

  .vertical-form-field-suffix {
    color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.54);
    .disabled & {
      color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.38);
    }
  }

  .vertical-form-field-hint {
    color: rgba(mat.get-contrast-color-from-palette($primary, 50), 0.6);
  }

  .vertical-form-field-error {
    color: #b00020;
  }

  @include filled-form-field-theme($theme);
  @include outlined-form-field-theme($theme);
}

@mixin filled-form-field-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-form-field-appearance-filled {
    .vertical-form-field-input {
      // Using box-shadow instead of border-bottom to inset the indicator.
      box-shadow: inset 0 -1px 0 rgba(mat.get-contrast-color-from-palette($primary, 50), 0.6);
    }

    &.disabled {
      .vertical-form-field-input {
        box-shadow: inset 0 -1px 0 rgba(mat.get-contrast-color-from-palette($primary, 50), 0.25);
      }
    }

    &.error:not(.disabled) {
      .vertical-form-field-input {
        box-shadow: inset 0 -2px 0 #b00020;
      }
    }

    &.focused {
      .vertical-form-field-input {
        box-shadow: inset 0 -2px 0 mat.get-color-from-palette($primary, 900);
        caret-color: mat.get-color-from-palette($primary, 900);
      }
    }
  }
}

@mixin outlined-form-field-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-form-field-appearance-outlined {
    .vertical-form-field-input {
      // Using box-shadow instead of border-bottom to inset the indicator.
      box-shadow: inset 0 0 0 1px rgba(mat.get-contrast-color-from-palette($primary, 50), 0.6);
    }

    &.disabled {
      .vertical-form-field-input {
        box-shadow: inset 0 0 0 1px rgba(mat.get-contrast-color-from-palette($primary, 50), 0.25);
      }
    }

    &.error:not(.disabled) {
      .vertical-form-field-input {
        box-shadow: inset 0 0 0 2px #b00020 !important;
      }
    }

    &.focused {
      .vertical-form-field-input {
        box-shadow: inset 0 0 0 2px mat.get-color-from-palette($primary, 900);
        caret-color: mat.get-color-from-palette($primary, 900);
      }
    }
  }
}
