@use '~@angular/material' as mat;
@mixin vertical-header-theme($theme) {
  $primary: map-get($theme, primary);

  .vertical-header {
    background-color: mat.get-color-from-palette($primary, 900);
    &__menu-icon {
      color: mat.get-contrast-color-from-palette($primary, 900);
    }

    &__dropdown {
      color: mat.get-contrast-color-from-palette($primary, 900);

      &:not(:last-child)::after {
        border-left: 1px solid mat.get-contrast-color-from-palette($primary, 900);
      }

      &:last-child {
        &::before {
          border-left: 1px solid mat.get-contrast-color-from-palette($primary, 900);
        }
      }
    }

    &__search {
      background-color: transparent;

      &-input {
        &::placeholder {
          color: rgba(mat.get-contrast-color-from-palette($primary, 900), 0.6);
        }
      }

      &.active {
        background-color: mat.get-contrast-color-from-palette($primary, 900);

        .vertical-header__search-input {
          color: mat.get-color-from-palette($primary, 900);
        }

        .vertical-header__search-icon {
          color: mat.get-color-from-palette($primary, 900);

          &:last-child {
            display: inline-block;
          }
        }
      }

      &-icon {
        color: mat.get-contrast-color-from-palette($primary, 900);

        &:last-child {
          display: none;
        }
      }
    }

    &__cart {
      &-icon {
        color: mat.get-contrast-color-from-palette($primary, 900);
      }

      &-count {
        background-color: mat.get-contrast-color-from-palette($primary, 900);
        color: mat.get-color-from-palette($primary, 900);
      }
    }
  }
}
