@import "../all-theme";
@import "../palette";

@include mat-core();

// Define a theme
$vertical-primary: mat-palette($vertical-purple);
$vertical-accent: mat-palette($vertical-green);

$vertical-dark-theme: mat-dark-theme($vertical-primary, $vertical-accent);

// Include all theme styles for the components
@include vertical-theme($vertical-dark-theme);
