:host {
  display: block;
  padding: 25px;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  margin-right: 32px;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  width: 50%;
}

.checkbox {
  display: flex;
}
